/* You can add global styles to this file, and also import other style files */
.bg_container{
  background-image: url("/gradientBG.png");
  background-size: cover;
}
.bg_container_inverted{
  background-size: cover;  
  background-image: url("/gradientBG.png");
  transform: rotate(180deg);
}


@media screen and (max-width : 400px )   {
  .bg_container{
    overflow: hidden;
    padding: 16px 24px;
    background-image: url("/GradientMobile.png");
  }
}
